.row, .buttons a {
    margin-top: 1rem;
}
.row.buttons {
    margin-top: 0;
}
canvas, #svg {
    margin-left: auto;
    margin-right: auto;
}

@media print {
    nav.navbar, nav.sidebar, #settings, .controls {
        display: none !important;
    }
    #canvas {
        display: block !important;
    }
}
.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}
